.users-list {
    background-color: #1e1e1eba;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: -1px 1px 8px rgba(180, 18, 18, 0.73);
    margin: 0 auto;
    height: 775px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 1rem;

    .user-card {
        background-color: #2c2c2c;
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        color: #ffffff;

        .user-info {
            margin-bottom: 1rem;

            .user-name {
                font-size: 1.25rem;
                font-weight: bold;
            }

            .user-email,
            .user-phone {
                font-size: 1rem;
            }
        }

        .delete-button {
            background-color: #ff1744;
            color: #ffffff;
            &:hover {
                background-color: #d50000;
            }
        }
    }
}
